<!DOCTYPE html>
<head>
  <title>Gestion des utilisateurs</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link
    rel="preload"
    href="{{ url_for('static', filename='hk-grotesk.bold.ttf') }}"
    as="font"
    type="font/truetype"
    crossorigin
  />
  <link
    rel="preload"
    href="{{ url_for('static', filename='hk-grotesk.medium.ttf') }}"
    as="font"
    type="font/truetype"
    crossorigin
  />
  <link
    rel="preload"
    href="{{ url_for('static', filename='Raleway-VariableFont_wght.ttf') }}"
    as="font"
    type="font/truetype"
    crossorigin
  />
</head>
<body>
  <div class="headerDiv">
    <input
      type="submit"
      value="Accueil"
      class="button"
      onclick="window.location.href = '/'"
    />
    <input
      type="submit"
      value="Déconnexion"
      class="button"
      onclick="window.location.href = '/logout';"
    />
  </div>

  <form>
    <label>Page :</label>
    <input type="number" id="page" name="page" min="1" max="{{ max_page }}" value="{{ page }}">
    <label>/{{ max_page }}</label>
    <br>
    Sort by : <select name="order" id="order">
      <option value="phone">Phone</option>
      <option value="email">Email</option>
      <option value="delay">Delay</option>
      <option value="skiped">Skiped</option>
    </select>
    {% if page != max_page %}
    <input type="submit" value="+" class="button" onclick="document.getElementById('page').value = {{ page + 1 }}"/>
    {% endif %} {% if page != 1 %}
    <input type="submit" value="-" class="button" onclick="document.getElementById('page').value = {{ page - 1 }}"/>
    {% endif %}
    <input type="submit" value="Ok" class="button"/>
  </form>


  <div id="tableDiv">
    <table>
      <thead>
        <th>Phone</th>
        <th>Email</th>
        <th>Delay</th>
        <th>Skiped</th>
      </thead>
      {% for user in users %}
      <tr>
        <td><a href="/user/view/{{ user.phone }}"> {{ user.phone }}</a></td>
        <td>{{ user.email }}</td>
        <td>{{ user.delay }}</td>
        <td>{{ user.skiped }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</body>
