<p>
  Page : {{ page }}/{{ max_page }} {% if page != max_page %}
  <a href="/?page={{ page + 1 }}"> + </a>
  {% endif %} {% if page != 1 %}
  <a href="/?page={{ page - 1 }}"> - </a>
  {% endif %}
</p>
<table>
  <tr>
    <th>Titre</th>
    <th>Date</th>
    <th>Url</th>
  </tr>
  {% for evt in events %}
  <tr>
    <td><a href="/event/{{ evt.id }}"> {{ evt.title }} </a></td>
    <td>{{ evt.date }}</td>
    <td>{{ evt.url }}</td>
  </tr>
  {% endfor %}
</table>
<a href="/new"> Add </a>
<p><a href="/logout"> Logout </a></p>
