<!DOCTYPE html>
<title>Création d'évènement</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<h1>Nouvel évènement</h1>
<form method="post">
  <table>
    <tr>
      <td>Titre: </td>
      <td>
        <input type="text" name="title"  size="40"/>
      </td>
    </tr>
    <tr>
      <td>Lien d'inscription: </td>
      <td>
        <input type="url" name="url" size="40"/>
      </td>
    </tr>
    <tr>
      <td>Date: </td>
      <td>
        <input type="date" name="date" value="{{ date }}"  size="40"/>
      </td>
    </tr>
    <tr>
      <td>Lien d'image: </td>
      <td>
        <input type="url" name="img"  size="40"/>
      </td>
    </tr>
    <tr>
      <td>Lieu: </td>
      <td>
        <input type="text" name="loc"  size="40"/>
      </td>
    </tr>
    <tr>
      <td colspan="2" id="buttonTd"><input type="submit" value="Créer" /></td>
    </tr>
  </table>
</form>