<!DOCTYPE html>
<head>
  <title>Gestion des évènements</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link
    rel="preload"
    href="{{ url_for('static', filename='hk-grotesk.bold.ttf') }}"
    as="font"
    type="font/truetype"
    crossorigin
  />
  <link
    rel="preload"
    href="{{ url_for('static', filename='hk-grotesk.medium.ttf') }}"
    as="font"
    type="font/truetype"
    crossorigin
  />
  <link
    rel="preload"
    href="{{ url_for('static', filename='Raleway-VariableFont_wght.ttf') }}"
    as="font"
    type="font/truetype"
    crossorigin
  />
</head>
<body>
  <div class="headerDiv">
    <input
      type="submit"
      value="Accueil"
      class="button"
      onclick="window.location.href = '/'"
    />
    <input
      type="submit"
      value="Déconnexion"
      class="button"
      onclick="window.location.href = '/logout';"
    />
  </div>
  
  <form>
    <label>Page :</label>
    <input type="number" id="page" name="page" min="1" max="{{ max_page }}" value="{{ page }}">
    <label>/{{ max_page }}</label>
    <br>
    {% if page != max_page %}
    <input type="submit" value="+" class="button" onclick="document.getElementById('page').value = {{ page + 1 }}"/>
    {% endif %} {% if page != 1 %}
    <input type="submit" value="-" class="button" onclick="document.getElementById('page').value = {{ page - 1 }}"/>
    {% endif %}
    <input type="submit" value="Ok" class="button"/>
  </form>

  <div id="tableDiv">
    <table>
      <thead>
        <th></th>
        <th>ID</th>
        <th>Titre</th>
        <th>Date</th>
      </thead>
      {% for evt in events %}
      <tr>
        <td>
          <img
            src="{{ evt.img }}"
            alt="Image de l'évènement"
            class="eventImage"
          />
        </td>
        <td><a href="/event/view/{{ evt.id }}"> {{ evt.id }}</a></td>
        <td>{{ evt.title }}</td>
        <td>{{ evt.date }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <input type="submit" value="Ajouter" class="button" onclick="window.location.href = '/event/create';" />
</body>
