<!DOCTYPE html>
<head>
  <title>Evènement {{ title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link
    rel="preload"
    href="{{ url_for('static', filename='hk-grotesk.bold.ttf') }}"
    as="font"
    type="font/truetype"
    crossorigin
  />
  <link
    rel="preload"
    href="{{ url_for('static', filename='hk-grotesk.medium.ttf') }}"
    as="font"
    type="font/truetype"
    crossorigin
  />
  <link
    rel="preload"
    href="{{ url_for('static', filename='Raleway-VariableFont_wght.ttf') }}"
    as="font"
    type="font/truetype"
    crossorigin
  />
</head>
<body>
  <div class="headerDiv">
    <input
      type="submit"
      value="Events"
      class="button"
      onclick="window.location.href = '/events';"
    />
    <input
      type="submit"
      value="Déconnexion"
      class="button"
      onclick="window.location.href = '/logout';"
    />
  </div>
  <table>
    <tr>
      <td colspan="2" style="text-align: center">
        <h1>{{ title }}</h1>
      </td>
    </tr>
    <tr>
      <td>Description:</td>
      <td>{{ desc }}</td>
    </tr>
    <tr>
      <td colspan="2" style="text-align: center">
        <img src="{{ img }}" alt="Image de l'évènement" class="eventImage" />
      </td>
    </tr>
    <tr>
      <td>ID Weezevent:</td>
      <td>{{ id }}</td>
    </tr>
    <tr>
      <td>Date:</td>
      <td>{{ date }}</td>
    </tr>
    <tr>
      <td>Duree:</td>
      <td>{{ duration }}</td>
    </tr>
    <tr>
      <td>Lien d'image:</td>
      <td>
        <a href="{{ img }}">{{ img }}</a>
      </td>
    </tr>
    <tr>
      <td>Lieu:</td>
      <td>{{ loc }}</td>
    </tr>
  </table>
  <p>
    <form method="post" action="/event/delete/{{ id }}" >
        <input type="submit" value="Supprimer" class="button" />
    </form>
    <input type="submit" value="Edit" class="button" onclick="window.location.href = '/event/edit/{{ id }}';" />
    <input type="submit" value="Calculer les inscrits non scannes" class="button" onclick="window.location.href = '/event/unscan/{{ id }}';" />
  </p>
</body>
