[Unit]
Description=Cop1 admin server
Documentation=https://github.com/Diamondemon/cop1App
After=network.target

[Service]
Type=idle
User=${USER}
Group=${USER}
ExecStart=bash -c 'cd ${PWD} && make admin'

[Install]
WantedBy=network-online.target
